<div class="container">
    <div class="row">
        <div class="col-md-8 mt-4">
            <h1 class="fw-bold fs-1">Selamat Datang di Contact App</h1>
            <hr>
            <p>Cari contact-contact orng terdekat kamu</p>
        </div>
    </div>
</div>